.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 450px;
    margin: 50px auto;
}

.restart-btn {
    background-color: #00C6BF;
    color: #ecf0f3;
    position: relative;
    left: 12.4rem;
    margin-top: 1rem;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
}

.restart-btn i{
    font-size: 1.5rem;
}

.restart-btn:hover{
    background-color: #FFF7D6;
    color: black;
    cursor: pointer;
    transition: all ease 0.5s;
}

@media screen and (max-width: 960px){
    .board{
        max-width: 300px;
    }

    .restart-btn{
        left: 7.7rem;
    }
}